<div class="about-character">
    <div *ngIf="object" class="my-3">
        <div class="card">
            <mat-card>
                <mat-card-header>
                    <mat-card-title>{{object.data.results[0].name}}</mat-card-title>
                </mat-card-header>
                <div class="background-image" [ngStyle]="{'background-image': 'url(' + object.data.results[0].thumbnail.path + '.' + object.data.results[0].thumbnail.extension + ')'}"></div>
                <mat-card-content>
                    <div class="description">
                        <div *ngIf="object.data.results[0].description.length === 0; else description">
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque vehicula ante ut convallis tincidunt. Mauris vel urna eget dolor viverra fermentum id nec nisi. Integer id quam quis ex vestibulum malesuada. Donec vulputate dolor et scelerisque posuere. 
                            Nam pretium lectus eget cursus varius. Duis consequat imperdiet porta. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Donec viverra nulla at purus eleifend, ut egestas tellus efficitur. Fusce neque magna, tempus vitae nulla in, molestie tincidunt nisi.
                        </div>
                        <ng-template #description>
                            <div>
                                {{object.data.results[0].description}}
                            </div>
                        </ng-template>
                    </div>
                </mat-card-content>
                <div class="storie">
                    <div *ngFor="let storie of stories">
                        <mat-expansion-panel (opened)="getCharacter(storie)" (closed)="panelOpenState = false">
                            <mat-expansion-panel-header>
                                <mat-panel-title>
                                    <div class="title">{{storie?.title}} - Characters</div>
                                </mat-panel-title>
                            </mat-expansion-panel-header>
                            <div class="panel-cards row">
                                <div *ngFor="let character of characterOfHistories" class="col-12 col-md-4"> 
                                    <div class="item">
                                        <div class="name">{{character.name}}</div>
                                        <div class="background-image" [ngStyle]="{'background-image': 'url(' + character.thumbnail.path + '.' + character.thumbnail.extension + ')'}"></div>
                                        <div class="description">
                                            <div *ngIf="character.description.length === 0; else description">
                                                <div class="text">
                                                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque vehicula ante ut convallis tincidunt. Mauris vel urna eget dolor viverra fermentum id nec nisi. Integer id quam quis ex vestibulum malesuada. Donec vulputate dolor et scelerisque posuere. 
                                                    Nam pretium lectus eget cursus varius. Duis consequat imperdiet porta. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Donec viverra nulla at purus eleifend, ut egestas tellus efficitur. Fusce neque magna, tempus vitae nulla in, molestie tincidunt nisi.
                                                </div>
                                            </div>
                                            <ng-template #description>
                                                <div class="text">
                                                    {{character.description}}
                                                </div>
                                            </ng-template>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </mat-expansion-panel>
                    </div>
                </div>
            </mat-card>
        </div>
        <div class="copyright">
            {{object.attributionText}}
        </div>
    </div>
</div>