  
<header>
    <div class="header-web container">
        <div class="home">
            <div class="item mr-2">
                <a [routerLink]="['/']">
                    <button class="btn btn-primary">
                        <fa-icon [icon]="faHome"></fa-icon>
                    </button>
                </a>
            </div>
        </div>
        <div class="menu">
            <div class="item mr-2">
                <a [routerLink]="['/']">
                    <button class="btn btn-primary">
                        <fa-icon [icon]="faList"></fa-icon>
                        Characters
                    </button>
                </a>
            </div>
        </div>
    </div>
</header>